<div class="panel panel-primary">
    <div class="panel-heading">Tác vụ quản lý quiz</div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/instructor/show-quiz-list?lessonId=<%= lessonId %>">Xem danh sách quiz</a></li>
            <li><a href="/instructor/create-new-quiz?lessonId=<%= lessonId %>">Tạo quiz cho buổi học</a></li>
        </ul>
    </div>
</div>