<div id="addSlideModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="form-group">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Chọn slide (định dạng pdf)</h4>
                </div>
                <div class="modal-body">
                    <input id="file" class="form-control" type="file" name="file" />
                    <br>
                    
                    <input id="btnUpload" class="btn btn-info" type="submit" value="submit" />
                </div>
            </div>
        </div>

    </div>
</div>