<div id="slideContainer">
    <div id="slide">
        <canvas id="the-canvas"></canvas>
    </div>
    <div id="controlSlide">
        <div id="toolbar">
            <button id="btnPre"><b> << </b> </button> 
            <input type="number" id="currentNumber" value="1">
            <span class="white">/</span>
            <span id="maxNumber" class="white"></span>
            <button id="btnNext"><b> >> </b></button>
        </div>
    </div>
</div>