
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <% quizes.forEach(quiz => { %>
            <h3><%= quiz.question %></h3>
            <% quiz.answers.forEach(answer => { %>
                <p><input type="radio" name="<%= quiz._id %>">&nbsp;
                <%= answer.content %>
                </p>
            <% }) %>
        <% }); %>
    </div>
</div>