<script>
    var chatContent = document.getElementById('chat-content');
    var token = <%- JSON.stringify(token) %>;
    // const socket = io ('http://localhost:3000');
    const OV = new OpenVidu();
    session = OV.initSession();
    session.on('streamCreated', (event) => {
        session.subscribe(event.stream, "remoteVideo");
    });

    var btnLeaveClass = document.getElementById('btnLeaveClass');
    btnLeaveClass.onclick = () => {
        session.disconnect();
    }

    session.on('signal:chat', (event) => {
        var data = event.data.split(/!8q1&0@n9/);
        chatContent.innerHTML += `<li class="left clearfix">
                                        <span class="chat-img pull-left">
                                            <img src="./../images/avatar.png" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">${data[0]}</strong>
                                                <small class="pull-right text-muted">
                                            </div>
                                            <p>
                                              ${data[1]}  
                                            </p>
                                        </div>
                                    </li>`;
    });

    session.connect(token)
        .then(() => {
            var publisher = OV.initPublisher('localVideo');
            session.publish(publisher);
        })
        .catch(err => console.log(err));

    var btnChat = document.getElementById('btn-chat');
    var txtMessage = document.getElementById('txtMessage');
    const username = document.getElementById('username');
    btnChat.onclick = () => {
        var messageData = username.value + '!8q1&0@n9' + txtMessage.value;
        session.signal({
            data: messageData,
            to: [],                     // Array of Connection objects (optional. Broadcast to everyone if empty)
            type: 'chat'             // The type of message (optional)
        })
            .then(() => {
                console.log('Message successfully sent');
            })
            .catch(error => {
                console.error(error);
            });
        txtMessage.value = '';
    }
    txtMessage.onkeydown = (event) => {
        if (event.keyCode == 13) {
            var user = '';
            if (username.value != '') {
                user = username.value;
            } else {
                user = email.value;
            }
            var messageData = user + '!8q1&0@n9' + txtMessage.value;
            session.signal({
                data: messageData,
                to: [],                     // Array of Connection objects (optional. Broadcast to everyone if empty)
                type: 'chat'             // The type of message (optional)
            })
                .then(() => {
                    console.log('Message successfully sent');
                })
                .catch(error => {
                    console.error(error);
                });
            txtMessage.value = '';
        }
    }
</script>