<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>slide presentation demo</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/libraries/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/libraries/jquery-3.3.1.min.js"></script>
    <script src="/libraries/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.form.min.js"></script>

    <!-- custom css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/slide.css">
    <link rel="stylesheet" href="/stylesheets/video.css">
    <link rel="stylesheet" href="/stylesheets/chat.css">
</head>