<div class="panel panel-primary">
    <div class="panel-heading">Tác vụ quản lý sinh viên</div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/admin/show-student-list">Xem danh sách sinh viên</a></li>
            <li><a href="/admin/import-new-student">Nhập sinh viên mới</a></li>
        </ul>
    </div>
</div>